# Your Sentry DSN
NEXT_PUBLIC_SENTRY_DSN=

# Enable source maps uploading during build
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=dontsign

# Current environment
NEXT_PUBLIC_ENV=development

# Gmail credentials for contact form
GMAIL_USER=your_gmail@gmail.com
GMAIL_APP_PASSWORD=your_app_password